.grid {
  display: grid;
  grid-template-columns: min-content auto;
}

.table {
  outline: 1px solid black;
  display: flex;
  flex-direction: column;
  min-width: 50%;
  min-width: 5px;
}

.data {
  display: flex;
  flex-direction: row;
}

.header {
  text-align: center;
  height: 25px;
  background-color: #ddd;
  height: max-content;
  padding: 2px;
}

#result {
  display: inline-flex;
}


.table:not(:hover) > .header{
  background-color: #fff;
}


details:has(:empty) {
  display: none;
}

#result:empty {
  display: none;
}